body{
    display:grid;
    grid-template-columns: 1fr 1fr; /* this creates an even two column layout*/
    grid-template-areas: "mappanel sidepanel" /* this creates one row with map panel on the left and sidepanel on the right */
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: darkslategrey;
    font-size: 60px;
    text-align: center;
    line-height: 135%;
    font-weight: bold;
    margin-right: 100px;
}

#map{
    height:90vh;
    grid-area: mappanel;
} 

#survey{
    grid-area: sidepanel;
} 