body{
    display:grid;
    grid-template-rows: .2fr .6fr .2fr;
    grid-template-columns: 1fr 1fr 1fr; /* this creates an even two column layout*/
    grid-template-areas: ". header header" "contentspanel mappanel sidepanel" "footer footer footer"/* this creates one row with map panel on the left and sidepanel on the right */
}

#contents{
    grid-area: contentspanel;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: darkslategrey;
    font-size: 60px;
    text-align: center;
    line-height: 135%;
    font-weight: bold;
    margin-right: 100px;
}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

#map{
    height:90vh;
    grid-area: mappanel;
} 

#survey {
    grid-area: sidepanel;
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 0%;
    position: relative;
}

#survey iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}